<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" type="text/css" href="../static/styles/4-common.css">
    <link rel="stylesheet" type="text/css" href="../static/styles/3-header.css">
    <link rel="stylesheet" type="text/css" href="../static/styles/3-footer.css">
    <link rel="stylesheet" type="text/css" href="../static/styles/6-filters.css">
    <link type="text/css" rel="stylesheet" href="../static/styles/8-places.css">
    <link rel="icon" href="../static/images/icon.png" />
    <title>HBnB</title>
  </head>
  <body>
    <header>
      <div class="logo"></div>
    </header>
    <div class="container">
      <section class="filters">
	<div class="locations">
	  <h3>States</h3>
	  <h4>&nbsp</h4>
	  <div class="popover">
	    <ul>
	      <li>
		<h2>Alabama:</h2>
		<ul>
		  <li>Akron</li>
		  <li>Babbie</li>
		  <li>Calera</li>
		  <li>Fairfield</li>
		</ul>
	      </li>
	      <li>
		<h2>Arizona:</h2>
		<ul>
		  <li>Douglas</li>
		  <li>Kearny</li>
		  <li>Tempe</li>
		</ul>
	      </li>
	      <li>
		<h2>California:</h2>
		<ul>
		  <li>Fremont</li>
		  <li>Napa</li>
		  <li>San Francisco</li>
		  <li>San Jose</li>
		  <li>Sonoma</li>
		</ul>
	      </li>
	      <li>
		<h2>Colorado:</h2>
		<ul>
		  <li>Denver</li>
		</ul>
	      </li>
	      <li>
		<h2>Florida:</h2>
		<ul>
		  <li>Miami</li>
		  <li>Orlando</li>
		</ul>
	      </li>
	      <li>
		<h2>Hawaii:</h2>
		<ul>
		  <li>Honolulu</li>
		  <li>Kailua</li>
		  <li>Pearl city</li>
		</ul>
	      </li>
	      <li>
		<h2>Illinois:</h2>
		<ul>
		  <li>Chicago</li>
		  <li>Joliet</li>
		  <li>Naperville</li>
		  <li>Peoria</li>
		  <li>Urbana</li>
		</ul>
	      </li>
	      <li>
		<h2>Louisiana:</h2>
		<ul>
		  <li>Baton rouge</li>
		  <li>Lafayette</li>
		  <li>New Orleans</li>
		</ul>
	      </li>
	      <li>
		<h2>Minnesota:</h2>
		<ul>
		  <li>Saint Paul</li>
		</ul>
	      </li>
	      <li>
		<h2>Mississippi:</h2>
		<ul>
		  <li>Jackson</li>
		  <li>Meridian</li>
		  <li>Tupelo</li>
		</ul>
	      </li>
	      <li>
		<h2>Oregon:</h2>
		<ul>
		  <li>Eugene</li>
		  <li>Portland</li>
		</ul>
	      </li>
	    </ul>
	  </div>
	</div>

	<div class="amenities">
	  <h3>Amenities</h3>
	  <h4>&nbsp</h4>
	  <div class="popover">
	    <ul>
	      <li>24-hour check-in</li>
	      <li>Air conditioning</li>
	      <li>Breakfast</li>
	      <li>Buzzer/wireless intercom</li>
	      <li>Cable TV</li>
	      <li>Carbon monoxide detector</li>
	      <li>Cat(s)</li>
	      <li>Dog(s)</li>
	      <li>Doorman</li>
	      <li>Doorman Entry</li>
	      <li>Dryer</li>
	      <li>Elevator in building</li>
	      <li>Essentials</li>
	      <li>Family/kid friendly</li>
	      <li>Fire extinguisher</li>
	      <li>First aid kit</li>
	      <li>Free parking on premises</li>
	      <li>Gym</li>
	      <li>Hair dryer</li>
	      <li>Hangers</li>
	      <li>Heating</li>
	      <li>Hot tub</li>
	      <li>Indoor fireplace</li>
	      <li>Internet</li>
	      <li>Iron</li>
	      <li>Keypad</li>
	      <li>Kitchen</li>
	      <li>Laptop friendly workspace</li>
	      <li>Lock on bedroom door</li>
	      <li>Lockbox</li>
	      <li>Other pet(s)</li>
	      <li>Pets allowed</li>
	      <li>Pets live on this property</li>
	      <li>Pool</li>
	      <li>Private entrance</li>
	      <li>Private living room</li>
	      <li>Safety card</li>
	      <li>Self Check-In</li>
	      <li>Shampoo</li>
	      <li>Smartlock</li>
	      <li>Smoke detector</li>
	      <li>Smoking allowed</li>
	      <li>Suitable for events</li>
	      <li>TV</li>
	      <li>Washer</li>
	      <li>Wheelchair accessible</li>
	      <li>Wireless Internet</li>
	    </ul>
	  </div>
	</div>
	<button type="button">Search</button>
      </section>

      <section class="places">
	<h1>Places</h1>
	<article>
	  <div class="title_box">
	    <h2>#Beautiful Studio in Waikiki</h2>
	    <div class="price_by_night">$119</div>
	  </div>
	  <div class="information">
	    <div class="max_guest">2</div>
	    <div class="number_rooms">0</div>
	    <div class="number_bathrooms">1 </div>
	  </div>
	  <div class="user">
	    <b>Owner:</b> John Hooten
	  </div>
	  <div class="description">
	    <p>
	      Fully furnished studio in condo hotel in Waikiki. Fits 2. Close to beach and shopping. 19th floor, corner unit, gorgeous view. Fully renovated, modern and practical, has Internet, A/C. Amenities: W+D, pool, hot-tub, BBQ area, places to eat, massage.

	      Clean and comfortable! The studio has been completely renovated. It is modern and practical. A/C is available or a natural draft creates pleasant conditions.  There are storage areas in the closet and baskets under the platform bed.  Kitchenette was added, with double electric burner, microwave range oven, coffee machine, utensils, and everything that one may need to fix food. Compact fridge has a separate freezer. Large sink shared for kitchen and bathroom is a real (website hidden) is wall mounted with Oceanic Time Warner Cable; wireless Internet. Accent walls with white brick veneer and back-lit mirror ad nice atmosphere.  Corner unit features windows on 1/2 of the wall space.

	      Secure access is via key card through e
	    </p>
	  </div>
	</article>
	<article>
	  <div class="title_box">
	    <h2>#Private Studio - Waikiki Dream</h2>
	    <div class="price_by_night">$119</div>
	  </div>
	  <div class="information">
	    <div class="max_guest">2</div>
	    <div class="number_rooms">0</div>
	    <div class="number_bathrooms">1 </div>
	  </div>
	  <div class="user">
	    <b>Owner:</b> Betty Hicks
	  </div>
	  <div class="description">
	    <p>
	      At beginning Waikiki, the tourist center of Honolulu, this charming studio is about 10min walking distance from the beach, and all happenings.  Across the bridge to Convention Center and 15min walk to Ala Moana mall. Bus line is across the street.
	      Studio is fully furnished - full size bed,TV, Wifi, mid size fridge, full bath, microwave, coffee maker, induction hot plate. Building has laundry, pool, jacuzzi and BBQ area; for additional fee you may use gym and parking ($25/24hrs in-out privileges)

	      Perfect location. Designed to be lived in on long term, this studio is suitable for long and short stays. Ocean view. Walking distance to the beach,  restaurants, shops, 

	      Pool, hot tub, BBQ area, W+D in the building; for extra fee gym and parking ($25/24hrs in/out privileges). There is also a convenience store, food place, King&#39;s Pub, hair salon, and smart car rentals in the building.

	      at check-in and check-out

	      Studio is located at the edge of Wa
	    </p>
	  </div>
	</article>
	<article>
	  <div class="title_box">
	    <h2>1 Bedroom, 1 bath guest house</h2>
	    <div class="price_by_night">$59</div>
	  </div>
	  <div class="information">
	    <div class="max_guest">2</div>
	    <div class="number_rooms">1</div>
	    <div class="number_bathrooms">1 </div>
	  </div>
	  <div class="user">
	    <b>Owner:</b> Virginia Lewis
	  </div>
	  <div class="description">
	    <p>
	      Fully furnished.  Just bring personal items.  Very quiet location. Living room, kitchen, bath and bedroom. Refrigerator, stove, microwave, coffee maker, 65&#34; TV  all Dish Network stations. 2 miles from downtown Globe.  Safe for walking.   Base of Pinal Mts. which are great for hiking.  8 miles from Apache Gold Casino.  20 miles from the Apache Nation at San Carlos, AZ and San Carlos Lake.  31.7 miles from Roosevelt Lake Marina.  29 miles to Tonto National Monument. 2 miles to Besh-Ba-Gowah Ruins.

	      Guest will have access to the entire guest house.  They will be the only guest who will be there during their stay.  The space is a living room and kitchen, a bath and bedroom separated from the living room and kitchen. There is an excellent air conditioning and ceiling fans in the living room, kitchen and bedroom for added comfort. 65&#34; TV with all sports, movie, local stations provided by Dish Network. There is a desk in the living room for ease of computer use.  The bedroom has a
	    </p>
	  </div>
	</article>
	<article>
	  <div class="title_box">
	    <h2>2-Small piece of paradise by Disney</h2>
	    <div class="price_by_night">$25</div>
	  </div>
	  <div class="information">
	    <div class="max_guest">2</div>
	    <div class="number_rooms">1</div>
	    <div class="number_bathrooms">1 </div>
	  </div>
	  <div class="user">
	    <b>Owner:</b> James Diaz
	  </div>
	  <div class="description">
	    <p>
	      It is a private bedroom with a shared bathroom(shared with just another bedroom).
	      It is located near all attractions in Orlando.
	      10 minutes to Universal
	      15 minutes to international drive
	      8 minutes to millennia mall
	      15 min. to Florida mall
	      10 min. to the outlets
	      20 min. To Disney

	      Spacious house with common areas such as living room with TV(Netflix), kitchen area and dining area

	      Kitchen, living room, laundry, backyard :-)
	      Internet: Sol and Val
	      Password: Passwd0000

	      Whenever they need me!

	      It&#39;s a calm/simple neighborhood

	      Bus stop in front of the house but
	      We recommend you rent a car to maximize your limited time here in Orlando. We provide free parking in front of the home on our side of the street. The home is located near the following areas by car:
	      5 minutes from I-4 (main highway in the city)
	      8 minutes from Downtown Orlando / Amyway Arena / Church st / Lake Eola / Citrus
	    </p>
	  </div>
	</article>
      </section>
    </div>
    <footer>
      <p>Holberton School</p>
    </footer>
  </body>
</html>
